# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/actions/main
/actions/actions

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea

# Secrets
secrets/keys/
secrets/.well-known/
